<div class="container-fluid mt-2">
    <div class="row  ">
        <button class="btn back"><mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back_ios</mat-icon>retour à la page d'achat</button>
    </div>
    <div class="row m-0">
        <div class="col-sm-12 col-lg-6 col-md-6 mb-2">
            <app-summary></app-summary>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12 justify-content-lg-between justify-content-md-between">
            <div class="col-12 m-0">
                <app-paye-order></app-paye-order>
            </div>
            <div class="col-12 m-1">
                <app-client-form></app-client-form>
            </div>

        </div>
    </div>
</div>