
.payment-container {
  background-image: url("./assets/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.background-from {
  background: white;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
.payment-form {
  background-color: transparent;
  padding-top: 5%;
  position: relative;
}
.row {
  position: relative;
  margin: 0;
  display: grid;
  grid-template-columns: 56% auto;
  width: 100%;
  height: 100%;
  grid-column: auto;
  padding: 0%;
}

mat-card-subtitle {
  font-size: large;
}
mat-card-title {
  font-size: x-large;
}

.cardbox {
  margin-bottom: 3%;
}
label {
  width: 180px;
  display: inline-block;
  font-family: "Arvo", serif !important;

}
input {
  background: #ffffff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;

  height: 32px;
  position: relative;
}
/*input,*/
label {
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  line-height: 22px;
}

/*option {
  width: 25px;
  height: 20px;
  top: 105px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;


  display: flex;
  align-items: center;
  letter-spacing: 0.12px;

  color: #5095f0;
}*/
span {
  color: red;
}
.payer {
  background: #051570;
  border-color: #051570;
  margin: 5px;
  width: 100px;
  height: 40px;
  /* Button Text */

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */
  cursor: pointer;

  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;

  color:white;
}

.modifier {
  color: #388E3C;
  width: 120px;
  height: 40px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */

  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
 border: 1px solid #388E3C;
  /* White */

}
.retour {
  margin: 5px;
cursor: pointer;
  border-color: orangered;
  /* Drop Shadow */
  background: orangered;

  width: 105px;
  height: 40px;
  /* Button Text */

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */

  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;

  /* White */

  color: white;
}
.btns{
  display: flex;
  justify-content: end;
  max-width: 80%;
min-width: 50%;
margin: auto;

}
form {
  width: 100%;
  border-radius: 6px;
  background: #fff;
}
/*.item input:hover,*/

.item {
  position: relative;
  margin: 10px 0;
}

.card {
  display: block;
  align-self: center;
  max-width: 80%;
  min-width: 50%;
  position: relative;
  margin: auto;
}

.header {
  font-size: 100%;
  padding: 8px;
  background-color: ghostwhite;
}
h2 {
  font-size: x-large;
  padding-top: 5%;
  font-weight: lighter;
}
h3 {
  font-size: large;
}
.ccp-header-image {
  background-image: url("./assets/ccp.png");
  background-size: cover;
}
.cib-header-image {
  background-image: url("./assets/cib.png");
  background-size: cover;
}

.vir-header-image {
  background-image: url("./assets/icon-virement.png");
  background-size: cover;
}
.container {
  transform: translate(-50%, -50%);
  margin-top: 3%;
  position: relative;
}
.upload-box {
  font-size: 16px;
  background: white;
  border-radius: 70px;
  box-shadow: 5px 5px 10px black;
  width: 400px;
  height: 40px;
  outline: none;
  left: 60%;
}
::-webkit-file-upload-button {
  color: white;
  background: #84b169;
  height: 40px;
  border: none;
  border-radius: 50px;
  text-align: center;
}
::-webkit-file-upload-button:hover {
  background: #ccc;
}
select
{
padding: 3px;
background: transparent;
border: 1px solid grey;
border-radius: 4px;
cursor: pointer;
height: 32px;
}
select option{
padding: 2px;
}
select:hover {
  border: 1px solid #01579B;
  color: #01579B;
}
.file-uplaod{
  display: inline;

}
.file-uplaod-btn{

  padding: 5px;
  display: inline-flex;
  border: 1px solid #01579B;
  align-content: center;
  justify-content: center;
}
.error{
  text-align: center;
  margin-left: -22%;
}
.error .mat-error {
  margin-top: 2px;
}
.file-uplaod-btn .mat-icon{
  color: #01579B;
}
.file-uplaod-btn span{
  color: #01579B;
  font-family: "Arvo", serif !important;
  margin: 3px;
}

.file-uplaod  span{
  color: #01579B;
  font-family: "Arvo", serif !important;
  font-size: 10px;

}
.alert{
  z-index: 500;
  background: transparent;  max-width: 80%;
  min-width: 50%;
  margin: auto;
  margin-top: 5px;
}
.alert-content{
  display: flex;
}
.alert-content .mat-icon{
  margin:3px ;
}
.alert-content>div{
  margin:5px ;
}
.alert-success{
  color: green;
  border: 1px solid green;

}
.alert-error{
  color: red;
  border: 1px solid red;
}
